@model IEnumerable<AspCore04.Models.Evento>

@{
    ViewData["Title"] = "Index";
}

<h1> Página Inicial </h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary" > Novo Evento </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BannerUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gratuito_Pago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealizadorVirtual)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BannerUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gratuito_Pago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealizadorVirtual.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EventoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EventoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
